.button{
	-fx-background-color : #1E224F;

}
.buttonClose:hover
{
-fx-background-color : #ee0c0c;
}
.buttonClose:pressed
{
-fx-background-color : #bf0909;
}
.buttonreduire:hover
{
-fx-background-color : #d0d2d5;
}
.buttonreduire:pressed
{
-fx-background-color : #4f5254;
}